INPUT2/
MaskingDomestic.R
MaskingDomestic.txt
README.txt
Rplots.pdf
digicats.R
localanc_scot_2way_1-36_1-19_130_60_0.99_58.RData
mosaic_scottish_cats_E3.vcf.gz
mosaic_scottish_cats_E3.vcf.gz.tbi
mosaic_scottish_cats_sample_info.csv
mosaic_scottish_cats_sample_info.xlsx
scot_2way_1-36_1-19_130_60_0.99_58.RData
